.section-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .icon {
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
  .text-muted {
    color: #869ab8 !important;
  }
  h3 {
    font-size: 1.3125rem;
    line-height: 1.4;
    letter-spacing: -0.01em;
    font-weight: 400;
    color: #161c2d;
  }
}

.mutileImage_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  .product {
    width: 100%;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    box-shadow: 0 3px 8.8px 0.2px rgba(31, 33, 35, 0.1);
    margin-bottom: 20px;
    height: 450px;
    max-width: 395px;
    cursor: pointer;
    border-radius: 8px;
    img {
      max-width: 100%;
      max-height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .product_content {
      padding: 30px;
    }
  }
  .items_icon {
    height: 8rem;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;
    position: relative;
    margin: 0 0.5rem;
    a {
      width: 100%;
      height: 100%;
      color: #231f20;
      background: rgb(216, 214, 214);
      border-radius: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
    }
    span {
      display: block;
      padding: 0 0.75rem;
    }
    img {
      max-width: 100%;
      margin: 1rem 0 0.5rem 0;
    }
  }
}
.post_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  .product {
    width: 100%;
    background: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 8.8px 0.2px rgba(31, 33, 35, 0.1);
    margin-bottom: 20px;
    height: 450px;
    max-width: 395px;
    cursor: pointer;
    border-radius: 8px;
    img {
      max-width: 100%;
      max-height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .product_content {
      padding: 30px;
      display: flex;
      flex-direction: column;
      .product_contentTitle {
        font-weight: 700;
        color: #323232;
        font-size: 1.25em;
      }
      .prodcut_contentDescription {
        color: #606971;
        font-size: 15px;
      }
    }
  }
  .items_icon {
    height: 8rem;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;
    position: relative;
    margin: 0 0.5rem;
    a {
      width: 100%;
      height: 100%;
      color: #231f20;
      background: rgb(216, 214, 214);
      border-radius: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
    }
    span {
      display: block;
      padding: 0 0.75rem;
    }
    img {
      max-width: 100%;
      margin: 1rem 0 0.5rem 0;
    }
  }
}

.post_container {
  .post_wapper {
    width: 100%;
    background: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 8.8px 0.2px rgba(31, 33, 35, 0.1);
    margin-bottom: 20px;
    max-width: 395px;
    cursor: pointer;
    border-radius: 8px;
    img {
      max-width: 100%;
      max-height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    h4 {
      font-weight: 700;
      color: #323232;
      font-size: 1.25em;
    }
    p {
      color: #606971;
      font-size: 15px;
    }
  }
}

.post_wapper {
  width: 100%;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 35px;
  margin-bottom: 20px;
  img {
    max-width: 100%;
  }
}

.banner_wapper {
  display: flex;
  .banner_content {
    padding-left: 3rem;
    padding-top: 3rem;
    width: 30%;
    h2 {
      margin-bottom: 2.5rem;
      font-size: 2rem;
      line-height: 2.5rem;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
    }
    a {
      color: rgb(17, 117, 181);
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      text-decoration: none;
    }
  }
  .item {
    display: unset;
  }
  .banner_img {
    width: 50%;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.banner_content p:hover a {
  text-decoration: underline;
}

.card_introduce {
  .card_wapper {
    padding: 30px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 23px 0 rgba(20, 30, 210, 0.06);
    h3 {
      color: #333333;
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
    }
    p {
      color: #333333;
      font-size: 16px;
      letter-spacing: 0.5px;
      line-height: 24px;
    }
    .hotline {
      color: #141ed2;
      font-size: 16px;
      font-style: italic;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 20px;
    }
  }

  .card_sub {
    background-color: #f4f3f3;
  }

  .form_title {
    background-color: #141ed2;
    text-align: center;
    height: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 23px 0 rgba(20, 30, 210, 0.06);
    padding-top: 15px;
    h5 {
      margin: 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      text-align: center;
    }
  }

  form {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 23px 0 rgba(20, 30, 210, 0.06);
    padding: 10px 35px;
    input {
      width: 100%;
      margin: 10px 0;
      padding: 6px 20px;
      margin: 6px 0;
      border: 0.7px solid #d6d6d6;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
      outline: none;
      background-color: #fff;
    }

    textarea {
      width: 100%;
      margin: 10px 0;
      padding: 5px 20px;
      margin: 6px 0;
      border: 0.7px solid #d6d6d6;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
      outline: none;
    }
    .btn {
      display: flex;
      justify-content: center;
      button {
        border-radius: 22.5px;
        height: 45px;
        width: 100%;
        background-color: #e30613;
        border: 0 solid #e30613;
        color: #ffffff;
        outline: none;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.62px;
        line-height: 17px;
        text-align: center;
      }
    }
  }
}

.mutile_icon {
  margin-top: 50px;
  .title {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }
  .icon_items {
    .icon_title {
      color: #333333;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
    }
    .icon_content {
      color: #333333;
      font-size: 14px;
      line-height: 21px;
    }
    .icon {
      img {
        max-width: 100%;
      }
    }
  }
}

.block_images {
  .title {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }
}

.block_imege_left {
  .title {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
  }
  ul {
    li {
      color: #333333;
      font-size: 16px;
      letter-spacing: 0.5px;
      line-height: 24px;
    }
  }
  button {
    border-radius: 24px;
    height: 45px;
    width: 50%;
    background-color: #fff;
    border: 1px solid #141ed2;
    color: #141ed2;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.62px;
    line-height: 17px;
    text-align: center;
  }
}

.post_block {
  background-color: #fafafa;
  padding: 0 25px;
  .title {
    color: #333333;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 39px;
    text-align: center;
  }
  .post_content {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.09);
    max-height: 433px;
    height: 433px;
    padding: 0 !important;
    img {
      max-width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .content {
      padding: 0 15px;
      .date {
        color: #a6a6a6;
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 18px;
      }
      .title {
        color: #333333;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.63px;
        line-height: 27px;
        text-align: justify;
      }
      .show {
        color: #141ed2;
        font-size: 14px;
        font-style: italic;
        letter-spacing: 0.47px;
        line-height: 17px;
        cursor: pointer;
      }
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    button {
      border-radius: 22.5px;
      height: 45px;
      width: 20%;
      background-color: #141ed2;
      border: 0 solid #141ed2;
      color: #ffffff;
      outline: none;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.62px;
      line-height: 17px;
      text-align: center;
      margin-bottom: 25px;
    }
  }
  .page_wapper {
    background-color: #fff;
    min-height: 100px;
    box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    .img_wapper {
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .content {
      padding: 20px 0;
    }
  }
}

@media (min-width: 992px) {
  .mutileImage_container {
    .product {
      width: 30%;
      height: 450px;
      max-width: 395px;
    }
  }
  .post_container {
    .post_wapper {
      width: 30%;
    }
    .product {
      width: 30%;
      height: 450px;
      max-width: 395px;
    }
  }
  .post_wapper {
    width: 33%;
  }
}
