@import "./block.scss";
@import "./new.scss";
@import "./menu.scss";
@import './tab.scss';
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

#__next {
  font-family: "Roboto Condensed", sans-serif;
}
.main_content {
  margin-top: 80px;
}