.navbar {
  overflow: hidden;
  background-color: blue;
  position: fixed !important;
  top: 0;
  width: 100%;
  display: block !important;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbarbot {
  overflow: hidden;
  background-color: blue;

  bottom: 0;
  width: 100%;
  display: block !important;
}

.navbarbot a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 17px;
}

.navbarbot a:hover {
  background: #ddd;
  color: black;
}

.navbarside {
  height: auto;
  width: 50;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: blue;
  overflow-x: hidden;
}
.navbarside a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  display: block;
  transition: 0.3s;
}

.navbarside a:hover {
  color: #f1f1f1;
}

.header {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 12;
  .header_top {
    background: #ffffff;
  }
}

.menu_wapper {
  .menu_top {
    margin: 0;
    li {
      display: block;
      float: left;
      margin-right: 20px;
      list-style: none;
      a {
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        height: 24px;
        text-decoration: none;
        display: block;
      }
    }
  }
  .menu_right {
    float: right;
  }
}
.header_menu {
  background-color: #141ed2;
  .menu_top {
    a {
      font-size: 16px;
      font-weight: 600;
      line-height: 40px !important;
      height: 40px !important;
      text-align: center;
      color: #ffffff !important;
      margin: 10px 0;
    }
    .logo {
      background-color: #ffffff;
      img {
        padding: 0 5px;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      background-color: #ebebeb;
      min-width: 160px;
      z-index: 999;
      padding: 15px 0 60px 0;
      overflow-y: auto;
      max-width: 1188px;
      right: 0;
      left: 0;
      top: 54px;
      margin-right: auto;
      margin-left: auto;
      .footer_partner li a:first-child {
        font-weight: bold;
        font-size: 16px;
        color: rgb(20, 30, 210) !important;
        margin-bottom: 5px;
        cursor: pointer;
      }
    }
    li:hover {
      .dropdown-content {
        display: block;
      }
    }
  }
}

.footer {
  background: #ffffff;
  .footer_wapper {
    .active {
      list-style: none;
    }
    img {
      margin-bottom: 10px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        a {
          color: #333333;
          cursor: pointer;
        }
      }
    }
    .footer_left {
      li {
        list-style: none;
      }
      .mb_title {
        color: #333333;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.57px;
        line-height: 16px;
      }
      .code {
        color: #333333;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
      }
      .phone {
        color: #141ed2;
        font-size: 24px;
        font-weight: 600;
        line-height: 21px;
      }
    }
    .footer_partner {
      li {
        list-style: none;
        a {
          color: #141ed2;
          font-size: 16px;
          font-weight: 600;
          line-height: 23px;
          cursor: pointer;
        }
      }
      .footer_children {
        a {
          color: #333333;
          font-size: 13px;
          letter-spacing: 0.41px;
          line-height: 27px;
          font-weight: normal;
          cursor: pointer;
        }
        .title {
          color: #141ed2;
          font-size: 16px;
          font-weight: 600;
          line-height: 23px;
        }
      }
    }
    .copyright {
      display: flex;
      justify-content: space-between;
      p {
        color: #a4a4a4;
        font-size: 13px;
        letter-spacing: 0.46px;
        line-height: 16px;
      }
    }
  }
}

.app_wapper {
  background: #141ed2;
  form {
    margin: 15px 0;
    label {
      color: #ffffff;
      font-size: 16px;
      letter-spacing: 0.15px;
      line-height: 36px;
    }
    input {
      width: 60%;
      background-color: #fff;
      padding: 10px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      margin-right: 10px;
      outline: none;
    }
    .input_wapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
      border-radius: 22.5px;
      height: 45px;
      width: 50%;
      background-color: #e30613;
      border: 0 solid #e30613;
      color: #ffffff;
      outline: none;
    }
  }
  .app {
    margin: 15px 0;
    float: right;
    label {
      color: #ffffff;
      font-size: 16px;
      letter-spacing: 0.15px;
      line-height: 36px;
    }
    .app_content {
      display: flex;
      align-items: center;
      .code_qr {
        background: #fff;
      }
    }
  }
}
.contact {
  background: #f1fff9;
  .phone {
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      margin: 40px 0;
      p {
        margin: 0;
      }
      .title {
        color: #141ed2;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 10px;
      }
      .subtitle {
        color: #333333;
        font-size: 14px;
        font-style: italic;
        line-height: 20px;
      }
    }
  }
  .email {
    background: #e0f0ff;
  }
}
