#rectangle-7 {
  height: 40px;
  width: 1440px;
  background-color: #ffffff;

  img {
    height: 20px;
    width: 20px;
    margin-left: 150px;
    margin-top: 9px;
  }
  i {
    margin-left: 38px;
    height: 15.58px;
    width: 12.04px;
    margin-top: 6px;
    
  }
}
#rectangle-copy {
  height: 80px;
  width: 1440px;
  background-color: #141ed2;
}
